<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086781393261-2qnlsc138rhhu3boph2jguobgqgjjv1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086781393261-2qnlsc138rhhu3boph2jguobgqgjjv1g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1086781393261-avcc98lre5570afgk8qkuj6bis2csq5b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRtVPKb53QDJMQBS5YgUAZZpfPh42dOwk</string>
	<key>GCM_SENDER_ID</key>
	<string>1086781393261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gomarketdemo.groceryy</string>
	<key>PROJECT_ID</key>
	<string>viprofood</string>
	<key>STORAGE_BUCKET</key>
	<string>viprofood.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086781393261:ios:aef4255493eae832de7264</string>
	<key>DATABASE_URL</key>
	<string>https://viprofood.firebaseio.com</string>
</dict>
</plist>